7. Neural Network/Practice 2/mnist/data/mnist_train.csv
4. Classification/Practices/Practice 5/income_2/income/notebooks/model
PamphletFasi.tex
PamphletFasi.aux
PamphletFasi.log
PamphletFasi.out
PamphletFasi.tex
PamphletFasi.toc
PamphletFasi.synctex.gz
PamphletFasi.lot
PamphletFasi.lof
pics